<!DOCTYPE html>
<html>
  <head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-hal/angular-hal.js"></script>
    <script src="bower_components/rfc6570/rfc6570.js"></script>    

    <script>
'use strict';

var app = angular.module('commitStream', ['ui.bootstrap', 'angular-hal']);

var persistentOptions = {
  headers: { Bearer: '' }
};

function formatLinks(links) {
  return JSON.stringify(links, 2, ' ');
}

app.factory('CommitStreamApi', ['halClient', function(halClient) {
  return {
    'load' : function() {
      return halClient.$get('/api/public', persistentOptions);
    },
  };
}]);

app.controller('CommitStreamController',
  ['$scope', 'CommitStreamApi', 
  function($scope, CommitStreamApi) {
    CommitStreamApi
    .load()
    .then(function(resources) {
      return resources.$post('instances');
    })
    .then(function(instance) {
      persistentOptions.headers.Bearer = instance.apiKey;
      $scope.instance = instance;      
      $scope.instanceLinks = formatLinks(instance.$links());

      return instance.$post('digest-create', {}, {
        description: 'My new digest'
      });
    })
    .then(function(digest) {
      $scope.digestLinks = formatLinks(digest.$links());

      return digest.$post('inbox-create', {}, {
        'name': 'CommitStream.Web',
        'family': 'GitHub',
        'url': 'http://www.github.com/openAgile/CommitStream.Web'
      });
    })    
    .then(function(inbox) {
      var links = inbox.$links();
      $scope.inboxLinks = formatLinks(inbox.$links());
      prompt('Paste this into a new repo WebHook', links['add-commit'].href + '?apiKey=' + persistentOptions.headers.Bearer);
    })
    .catch(function(error) {
      console.error("Caught an error!");
      console.error(error);
    });
  }]
);
    </script>
  </head>

  <body ng-app='commitStream'>
    <link type='text/css' rel='stylesheet' href='commitStream.css'>
    <div ng-controller='CommitStreamController'>
      <div ng-if='instance'>
        <h3>New instance details</h3>
        Instance ID: {{instance.instanceId}}
        <br />
        API Key: {{instance.apiKey}}
      </div>
      <div ng-if='instanceLinks'>
        <h4>Instance links</h4>
        <pre>{{instanceLinks}}</pre>
      </div>
      <div ng-if='digestLinks'>
        <h4>Digest links</h4>
        <pre>{{digestLinks}}</pre>
      </div>
      <div ng-if='inboxLinks'>
        <h4>Inbox links</h4>
        <pre>{{inboxLinks}}</pre>
      </div>
    </div>
  </body>
</html>
