<form ng-submit='inboxCreate()'>
  <style>
    .commitstream-admin .repoAdd { 
        border: none;
        background-color: #00a7e2;
        margin-top: 0px;
        margin-left: 15px;
        width: 50px;
        text-transform: uppercase;
        font-weight: bolder;
        color: #fff;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        border-radius: 6px;
        height: 32px;
        line-height: 32px;
    }
    .commitstream-admin .repoAdd:hover { 
      color: #fff;
    }
    .commitstream-admin .copy-clip {
      font-size: 70%;
    }
    .commitstream-admin .toggle-handle {
      border-radius: 0px;
      width: 50px;
    }
  </style>

  <p>
    <input 
      data-on='Enabled'
      data-off='Disabled'
      data-style='slow'
      class='form-control enabled'
      type='checkbox'
      ng-model='enabledState.enabled'
      ng-change='enabledChanged()'
      toggle-checkbox
    >

    <span ng-show='applying()'>&nbsp;<img ng-src='{{loaderUrl}}' /> <em>Applying changes...</em></span>
  </p>

   <div ng-if="messageActive()" class='message'>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{message.value}}</strong>
    </div>
  </div>

  <!-- <div class="repository-section"><img src="../disable-overlay.gif" width="100%" height="120px" /></div> -->

  <div ng-if='reposVisible()'>
    <h3>Setup Global Repositories</h3>
    <div class='well well-sm'>
      <div class='input-group'>
        <input type='text' class='form-control' ng-model='newInbox.url'  size='100'
             placeholder='add new GitHub repo url...'>
        <span class='input-group-btn'>
          <button class='repoAdd' type='button' ng-click='inboxCreate()'>Add</button>
        </span>
      </div>
      <div ng-if='inboxes.length > 0'>
        <h4>Repositories</h4>
        <table class='table table-striped table-bordered'>
          <tr>
            <th>Repository</th>
            <th>WebHook URL</th>
            <th>Remove</th>    
          </tr>
          <tr ng-repeat-start='inbox in inboxes'>
            <td style='width: 25%'><a target='_blank' href='{{inbox.url}}'>{{inbox.name}}</a></td>
            <td>
              <input style='font-size:75%' type='text' value='{{inbox.addCommit}}' class='form-control inbox' ng-click='inboxHighlight($event)' />
            </td>
            <td>
              <span class='glyphicon glyphicon-minus-sign alert-warning' ng-click='inboxRemove(inbox)' title='Remove' aria-hidden='true'></span>
            </td>
          </tr>
          <tr ng-repeat-end ng-init='inboxHighlightTop(inbox.removeHref)'></tr>
        </table>
      </div>
    </div>
  </div>
</form>