<form ng-submit='inboxCreate()'>
  <style>
    .commitstream-admin .repoAdd { 
      margin-top: 0px;
      width: 50px;
      height: 34px;
      outline-color: rgb(7, 73, 107);
      color: rgb(7, 73, 107);
      text-shadow: rgb(230, 230, 230) 0px 1px 0px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 12px;
    }
    .commitstream-admin .repoAdd:hover { 
      color: rgb(0, 159, 242);
    }
    .commitstream-admin .copy-clip {
      font-size: 70%;
    }

    .toggle-handle { 
      border-radius: 0px;
      width: 50px;
    }
  </style>

  <p>
    <input 
      data-on='Enabled'
      data-off='Disabled'
      data-style='slow'
      class='form-control enabled'
      type='checkbox'
      ng-model='enabledState.enabled'
      ng-change='enabledChanged()'
      toggle-checkbox
    >

    <span ng-show='applying()'>&nbsp;<img ng-src='{{loaderUrl}}' /> <em>Please wait while applying changes...</em></span>
  </p>

  <div ng-if='reposVisible()'>
    <h3>Setup Global Repositories</h3>

    <div ng-if="message.value !== ''" class='message'>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{message.value}}</strong>
      </div>
      <!-- <p class='bg-success'><b>{{message.value}}</b></p> -->
    </div>

    <div class='well well-sm'>
      <div class='input-group'>
        <input type='text' class='form-control' ng-model='newInbox.url'  size='100'
             placeholder='add new GitHub repo url...'>
        <span class='input-group-btn'>
          <button class='repoAdd' type='button' ng-click='inboxCreate()'>Add</button>
        </span>
      </div>
      <div ng-if='inboxes.length > 0'>
        <h4>Repositories</h4>
        <table class='table table-striped table-bordered'>
          <tr>
            <th>Repository</th>
            <th>WebHook URL</th>
            <th>Remove</th>    
          </tr>
          <tr ng-repeat-start='inbox in inboxes'>
            <td style='width: 25%'><a target='_blank' href='{{inbox.url}}'>{{inbox.name}}</a></td>
            <td>
              <input style='font-size:75%' type='text' value='{{inbox.addCommit}}' class='form-control inbox' ng-click='inboxHighlight($event)' />
              <div class='copy-clip'>Copy to clipboard</div>
            </td>
            <td>
              <span class='glyphicon glyphicon-minus-sign alert-warning' ng-click='inboxRemove(inbox)' title='Remove' aria-hidden='true'></span>
              <!-- <a class='btn btn-warning' ng-click='inboxRemove(inbox)'><span class='glyphicon glyphicon-minus-sign' title='Remove' aria-hidden='true'></span></a> -->
            </td>
          </tr>
          <tr ng-repeat-end ng-init='inboxHighlightTop(inbox.removeHref)'></tr>
        </table>
      </div>
    </div>
  </div>

</form>
